<?xml version="1.0"?>
## $Id: weewx_rss.xml.tmpl 2749 2014-11-29 18:15:24Z tkeffer $
<rss version="2.0" 
     xmlns:content="http://purl.org/rss/1.0/modules/content/"
     xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" >
   <channel>
      <title>$station.location, Weather Conditions</title>
      <link>$station.station_url</link>
      <description>Current conditions,</description>
      <language>en-us</language>
      <pubDate>$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")</pubDate>

      <lastBuildDate>$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")</lastBuildDate>
      <generator>weewx $station.version</generator>
      <ttl>$current.interval.string('')</ttl>
      
      <item>
         <title>Weather Conditions at $current.dateTime</title>
         <link>$station.station_url</link>
         <conditions>
           <outside_temperature>$current.outTemp</outside_temperature>
           <barometer>$current.barometer</barometer>
           <wind_speed>$current.windSpeed</wind_speed>
           <wind_direction>$current.windDir</wind_direction>
           <rain_rate>$current.rainRate</rain_rate>
           <inside_temperature>$current.inTemp</inside_temperature>
         </conditions>
         <pubDate>$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")</pubDate>
     </item>
   </channel>
</rss>
